build/artifacts
build/gcov
build/logs 
build/temp
build/test

*.launch
*.cproject
*.project
*.project.prefs
*.cmd
*.xml
*.txt
*.pdf
*.ioc

Debug/*
vendor/*
Middlewares/*
datasheets/*

Core/Src/freertos.c
Core/Inc/FreeRTOSConfig.h
